<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Eventos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/eventos.css" />
</head>

<body>
	<div class="container">
		<div class="header-container">
			<h1>Eventos Disponibles</h1>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="btn btn-secondary">Cerrar Sesión</button>
			</form>
		</div>
		<table class="table table-bordered mt-4">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Fecha</th>
					<th>Descripción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="evento, iterStat : ${eventos}">
					<td th:text="${iterStat.index + 1}"></td>
					<td th:text="${evento.name}"></td>
					<td th:text="${evento.date}"></td>
					<td th:text="${evento.description}"></td>
					<td>
						<form th:action="@{/api/eventos/eliminar/{id}(id=${evento.id})}" method="post">
							<input type="hidden" name="_method" value="delete" />
							<button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<h2 class="mt-5">Añadir Nuevo Evento</h2>
		<form th:action="@{/api/eventos/crearEvento}" th:object="${evento}" method="post">
			<div class="form-group">
				<label for="name">Nombre</label>
				<input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
			</div>
			<div class="form-group">
				<label for="fecha">Fecha</label>
				<input type="datetime-local" class="form-control" id="fecha" name="fecha" th:field="*{date}" required>
			</div>
			<div class="form-group">
				<label for="descripcion">Descripción</label>
				<input type="text" class="form-control" id="descripcion" name="descripcion" th:field="*{description}"
					required>
			</div>
			<input type="hidden" name="usuarioEmail" th:value="${usuario.email}">
			<input type="submit" class="btn btn-primary" value="Guardar Evento"></input>
		</form>
	</div>
	<!-- Scripts necesarios para Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>