<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Gestión de Eventos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Gestión de Eventos</h1>
			<p class="lead">Bienvenido a la plataforma de gestión de eventos. Regístrate o inicia sesión para comenzar.
			</p>
			<hr class="my-4">
			<p>Organiza, gestiona y participa en eventos fácilmente.</p>
			<a class="btn btn-primary btn-custom" href="/login" role="button">Iniciar Sesión</a>
			<a class="btn btn-secondary btn-custom" href="/register" role="button">Registrarse</a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>